Exploritory Data Analysis Notebook to refresh what this data is and what topics I should focus on for this project.

### Exploritory Analisis and Review...

In [50]:
#import modules, packages, and libraries

import pandas as pd
import plotly.express as px
import streamlit as st

#import history.csv as working base df.

df = pd.read_csv('../vehicles_us.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [51]:
#Looks good initially. Some data types may need reformatted.
df.sample(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
46606,2975,2008.0,ford focus,good,4.0,gas,136843.0,manual,sedan,NaN,NaN,2019-04-01,22
47852,6500,2005.0,ford f-150,good,6.0,gas,NaN,automatic,truck,brown,NaN,2018-09-28,9
28290,12995,2012.0,gmc sierra,excellent,8.0,gas,NaN,automatic,truck,blue,1.0,2019-04-12,55
41350,9999,2013.0,subaru impreza,excellent,NaN,gas,105949.0,automatic,sedan,NaN,1.0,2019-03-27,10
5907,1,2011.0,toyota tacoma,good,6.0,gas,168955.0,automatic,truck,NaN,1.0,2019-01-03,12
10365,4500,2007.0,jeep grand cherokee,new,6.0,gas,217000.0,automatic,SUV,white,1.0,2019-02-10,40
12371,4250,1999.0,jeep wrangler,excellent,4.0,gas,175000.0,automatic,other,green,1.0,2018-07-28,35
33572,6500,2011.0,gmc acadia,excellent,6.0,gas,169.0,automatic,SUV,blue,NaN,2018-05-02,44
28906,2600,2002.0,chevrolet silverado,good,8.0,gas,211368.0,automatic,truck,NaN,1.0,2018-11-11,54
25303,7300,2014.0,ford taurus,good,6.0,gas,118000.0,automatic,sedan,NaN,NaN,2018-05-14,152

In [52]:
#Check for any duplicated values in the data
print(df.duplicated().sum())

0

In [53]:
#Per review no1: Update is_4wd so items are either 1 or 0 instead of 1.0 or NaN
df['is_4wd'] = df['is_4wd'].fillna(0)
df['is_4wd'] = df['is_4wd'].astype(int)
df['is_4wd'].unique()

array([1, 0])

In [54]:
#Per review no1: Use relevant data about cars to fill missing data in other related columns...
df['cylinders'] = df[['cylinders', 'type']].groupby('type').transform(lambda x: x.fillna(x.median()))

### Initial Summary and Data Research Decision
After importing and reviewing the data frame there seem to be no glaring issues. Some things are noted for later like data type updates or missing values in certain columns...

After reviewing the df again and looking around the columns at what interests me I will develop a web app focused on data about how many car sales occur based on paint color choice! So my goal will be to design attractive visuals based on car paint color and demand over the dataset date periods. I will calculate demand based on two viausal cues: date posted and date sold, which I should be able to determine through some coding utilizing the days_listed column.

In [55]:
#Per review no1: Will no longer remove cars that do not have a year or color listed, instead fill with 'unknown' and '9999'.
df['model_year'] = df['model_year'].fillna(9999)
df['model_year'] = df['model_year'].astype(int)
df['paint_color'] = df['paint_color'].fillna('unknown')
df.sample(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
10621,30700,9999,chevrolet silverado 1500 crew,good,8.0,gas,26353.0,other,pickup,white,1,2019-03-06,28
4392,3000,2000,ford expedition,excellent,8.0,gas,149675.0,automatic,SUV,white,1,2018-07-13,28
26920,13988,2006,ford f-250 sd,good,8.0,diesel,NaN,automatic,truck,blue,1,2019-01-25,53
31131,2500,9999,hyundai sonata,excellent,6.0,gas,109000.0,automatic,sedan,blue,0,2018-07-03,94
26612,23000,2014,ford f-150,excellent,8.0,gas,NaN,automatic,truck,silver,1,2018-10-13,24
24669,19788,2016,honda pilot,excellent,6.0,gas,78465.0,automatic,SUV,white,1,2018-08-01,91
16543,11995,2012,nissan rogue,good,4.0,gas,42761.0,automatic,SUV,grey,1,2018-06-16,14
50759,5995,2007,toyota rav4,good,4.0,gas,106000.0,automatic,SUV,custom,1,2019-04-06,36
11059,19900,2008,ford f350 super duty,excellent,8.0,diesel,162182.0,automatic,truck,brown,1,2018-09-17,48
19954,2900,2002,hyundai santa fe,good,6.0,gas,140000.0,automatic,wagon,white,1,2019-01-01,30

In [56]:
#Generate a 'date_sold' column by turing the int 'days_listed' into a day data type and add it to the date_posted to retrieve the date_sold date.

#first, check days_listed max amount...
df['days_listed'].unique()

array([ 19,  50,  79,   9,  28,  15,  73,  68,  17,  38,  29,  37,  24,
       111,  13,  25,  27,   8,  64,  39,  40,  43,  23,  42, 101,  20,
        14,   7,  31, 121,  22,  44,   1,  36,  21,  16,  10,  60,  51,
        35, 261,  71,  99,   2,  26,  48,  54,  85,  41,  53,   3,  33,
        30,  47,  32,  18,  52, 152,  11, 100,  94,  82, 141,  70,  57,
        62,  46,  96,  58,  34,  93,  49,  55,  67,  78,  12,   6, 108,
        72, 112,  83,  61,  59, 130,   4,  98,   5, 164,  56,  75,  74,
        80,  66,  63, 109,  81,  90, 127,  45,  88,  91,  77,  69,  89,
       114,  84, 110, 140, 104, 120,  97,  76,  92, 128, 113, 129,  65,
       115, 106, 116, 154, 151, 147, 124, 102,  87, 143,  95,  86, 132,
       105, 107,   0, 103, 117, 155, 118, 149, 144, 122, 137, 263, 148,
       156, 179, 126, 169, 136, 125, 131, 119, 177, 174, 173, 134, 171,
       145, 139, 166, 244, 228, 142, 135, 162, 183, 271, 138, 123, 157,
       201, 161, 158, 150, 181, 184, 256, 133, 146, 195, 207, 163, 206,
       236, 160, 190, 165, 159, 153, 204, 233, 185, 221, 226, 172, 203,
       176, 202, 240, 197, 208, 209, 188, 187, 192, 193, 225, 243, 189,
       175, 205, 180, 267, 182, 199, 217, 210, 178, 223, 167, 170, 194,
       168, 213, 191, 252, 200, 186])

In [57]:
#What luck. The last value is also the max amount. No values here exceed what is possible for a car to be listed for so we can treat all this data as accurate. 

#Next lets create the day column and add it to an existing column to create another column.
df['days_listed'] = pd.to_timedelta(df['days_listed'], unit='D')
df['date_posted'] = pd.to_datetime(df['date_posted'], format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  int64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  timedelta64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3), object(6), timedelta64[ns](1)
memory usage: 5.1+ MB

In [58]:
#days_listed is now in time format so it can be added to date posted.
colors_df['date_sold'] = colors_df['date_posted'] + colors_df['days_listed']
colors_df.sample(10)

KeyError: 'days_listed'

In [ ]:
#reduce colors_df to include only the data I am interested in

colors_df = colors_df[['model_year', 'paint_color', 'date_posted', 'date_sold']]
colors_df.sample(8)

In [ ]:
colors_df['paint_color'].unique()

In [15]:
#Custom sounds fun. Let's leave it in for now. Otherwise these options seem correct and have no typos.
#Lets make an even shorter abbrev for the df we are most interested in...
cdf = colors_df

In [ ]:
#Begin organizing for plotting for listed cars first:
posted_counts = cdf.groupby(['date_posted', 'paint_color']).size().reset_index(name='count')

fig_posted = px.histogram(posted_counts, x='date_posted', color='paint_color', y='count', title='Cars Listed for Sale by Date and Color')
fig_posted.update_layout(xaxis_title='Date Posted', yaxis_title='Number of Cars')
fig_posted.show()

Initial histogram has me thinking ideas... Here are some observations:
- It's too wide the bars need to be condensed by quarter, larger bins.
- Very unfortunate that I will have to manually assign each car color but I will
- I want to focus on the end of the data so the bins are somewhat equal when it comes to sample size
- I want to have each car have it's own color, not stacked on top like this
- Certain car colors might need to be grouped together into an 'other' category like purple, orange, yellow, green, brown, and custom.

In [17]:
#It would be convenient to display complete data by month so if I drop April 2019 I can have histogram bars with equal sample size and in units people easily associate with like months.
cutoff = pd.Timestamp('2019-04-01')
cdf = cdf[cdf['date_posted'] < cutoff]
posted_counts = cdf.groupby(['date_posted', 'paint_color']).size().reset_index(name='count')

In [18]:
#Adjusting these variables for the new updated chart below. Taking this in steps... 
color_map = {'black':'black',
             'blue':'blue',
             'white':'white',
             'red':'red',
             'silver':'silver',
             'grey':'grey',
             'orange':'orange',
             'green':'green',
             'brown':'brown',
             'purple':'purple',
             'yellow':'yellow',
             'custom':'pink',
             'other':'yellow' #used for later
}
bin_count = 12
hist_width = 800
hist_height = 600

In [ ]:
# Create histogram of cars listed for sale by date and color
fig_posted = px.histogram(posted_counts, x='date_posted', y='count', color='paint_color',
                          color_discrete_map=color_map,
                          nbins = bin_count,
                          title='Cars Listed for Sale by Date and Color')

# Update layout to make the plot more square
fig_posted.update_layout(
    xaxis_title='Date Posted',
    yaxis_title='Number of Cars',
    width=hist_width,
    height=hist_height
)
fig_posted.show()

In [ ]:
posted_counts = cdf.groupby(['date_posted', 'paint_color']).size().reset_index(name='count')
fig = px.histogram(cdf, x='date_posted', color='paint_color',
                   facet_col='paint_color',
                   title='Cars Listed for Sale by Date and Paint Color')

# Update layout to adjust size and label orientation
fig.update_layout(
    xaxis_title='Date Posted',
    yaxis_title='Number of Cars',
    width=1500,  # Adjust width as needed
    height=800,  # Adjust height as needed
    xaxis=dict(
        tickformat="%b %Y",  # Display months and years on the x-axis
        tickangle=30         # Rotate x-axis labels by 30 degrees
    )
)

fig.show()

After doing more checks I have decided to follow through on my idea to implememnt an 'other' column by merging six paint options together into one: (yellow, orange, purple, green, brown, custom)

In [ ]:
#Compile color list and implement change... 
replacement_colors = ['yellow', 'orange', 'purple', 'green', 'brown', 'custom']
cdf['paint_color'] = cdf['paint_color'].replace(replacement_colors, 'other')
color_map = {
    'white': 'white',
    'silver': 'silver',
    'grey':'grey',
    'red':'red',
    'blue': 'blue',
    'black': 'black',
    'other': 'yellow'  # Custom color for 'other'
}
#Reprint histogram...
fig = px.histogram(cdf, x='date_posted', color='paint_color',
                   facet_col='paint_color', 
                   color_discrete_map=color_map,
                   title='Cars Listed for Sale by Date and Paint Color')

# Update layout to adjust size and label orientation
fig.update_layout(
    xaxis_title='Date Posted',
    yaxis_title='Number of Cars',
    width=1000,  # Adjust width as needed
    height=500,  # Adjust height as needed
    xaxis=dict(
        tickformat="%b %Y",  # Display months and years on the x-axis
        tickangle=30         # Rotate x-axis labels by 30 degrees
    )
)

fig.show()

In [ ]:
posted_counts = cdf.groupby(['date_posted', 'paint_color']).size().reset_index(name='count')

# Create histogram of cars listed for sale by date and color
fig_posted = px.histogram(posted_counts, x='date_posted', y='count', color='paint_color',
                          color_discrete_map=color_map,
                          nbins = bin_count,
                          title='Cars Listed for Sale by Date and Color')

# Update layout to make the plot more square
fig_posted.update_layout(
    xaxis_title='Date Posted',
    yaxis_title='Number of Cars',
    width=hist_width,
    height=hist_height
)
fig_posted.show()

In [ ]:
#Now using everything we have figured out above, lets review cars purchased by date by color:
posted_counts = cdf.groupby(['date_sold', 'paint_color']).size().reset_index(name='count')

color_map = {'black':'black',
             'blue':'blue',
             'white':'white',
             'red':'red',
             'silver':'silver',
             'grey':'grey',
             'orange':'orange',
             'green':'green',
             'brown':'brown',
             'purple':'purple',
             'yellow':'yellow',
             'custom':'pink',
             'other':'yellow' #used for later
}
bin_count = 12
hist_width = 800
hist_height = 600

# Create histogram of cars listed for sale by date and color
fig_posted = px.histogram(posted_counts, x='date_sold', y='count', color='paint_color',
                          color_discrete_map=color_map,
                          nbins = bin_count,
                          title='Cars Sold by Date and Color')

# Update layout to make the plot more square
fig_posted.update_layout(
    xaxis_title='Date Sold',
    yaxis_title='Number of Cars',
    width=hist_width,
    height=hist_height
)
fig_posted.show()

In [24]:
#Similarly, lets remove anything after July 1st 2019 as the amount of data is much less.
sold_cutoff = pd.Timestamp('2019-07-01')
sold_cdf = cdf[cdf['date_sold'] < cutoff]
posted_counts = sold_cdf.groupby(['date_sold', 'paint_color']).size().reset_index(name='count')

In [ ]:
# Create histogram of cars listed for sale by date and color
fig_posted = px.histogram(posted_counts, x='date_sold', y='count', color='paint_color',
                          color_discrete_map=color_map,
                          nbins = bin_count,
                          title='Cars Sold by Date and Color')

# Update layout to make the plot more square
fig_posted.update_layout(
    xaxis_title='Date Sold',
    yaxis_title='Number of Cars',
    width=hist_width,
    height=hist_height
)
fig_posted.show()

In [ ]:
# Create scatter plot with one subplot per paint_color
fig = px.scatter(cdf, x='date_posted', y='date_sold', color='paint_color',
                 facet_col='paint_color',
                 title='Date Posted vs. Date Sold by Paint Color',
                 labels={'date_posted': 'Date Posted', 'date_sold': 'Date Sold'},
                 color_discrete_map=color_map,
                 facet_col_wrap=3)  # Adjust the number of columns in the faceted grid

# Update layout to adjust size and label orientation
fig.update_layout(
    xaxis_title='Date Posted',
    yaxis_title='Date Sold',
    width=1000,  # Adjust width as needed
    height=800,  # Adjust height as needed
    xaxis=dict(
        tickformat="%b %Y",  # Display months and years on the x-axis
        tickangle=30         # Rotate x-axis labels by 30 degrees
    ),
    yaxis=dict(
        tickformat="%b %Y",  # Display months and years on the y-axis
        tickangle=30         # Rotate y-axis labels by 30 degrees
    ),
)

fig.show()

According to these scatter plots the more colorful cars like red and blue risk a higher liklihood of 'sitting on the shelf' longer than base car colors like white, silver, and grey.